# OS
.DS_Store/
thumbs.db
time-travel.*

# IDE
.vscode/
.cursor/
.vs/
.idea/
*.iml
*.log
*.txt

# Valkyrie / legion
.cache
vendors/
_vendor/
projects/problems/*/dist/

# Node
node_modules/
dist/

# Python
__pycache__/
